<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./question.css">
    </head>
    <body>
        <div class="container">
            <div>
                <h2 class="header_text">Will you be my valentine</h2>
            </div>
            <div class="gif_container">
                <img src="../assets/media/bearHi.gif" alt="cute pic">
            </div>
            <div class="buttons">
                <button class="btn" id="yesButton" onclick="nextpage()">
                    <div><span>
                        <p>Yes</p>
                    </span></div>
                    <div><span>
                        <p>Muahhh</p>
                    </span></div>
                </button>
                <button class="btn" id="noButton" onmouseover="movebutton()" onclick="movebutton()">No</button>
                <script>
                    function nextpage(){
                        window.location.href = "yes.html";
                    }

                    function movebutton(){
                        let nobutt = document.getElementById('noButton');
                        var x = Math.random() * (window.innerWidth - nobutt.offsetWidth) -350;
                        var y = Math.random() * (window.innerHeight - nobutt.offsetHeight);
                        console.log("no clicked or hovered");
                        nobutt.style.left = `${x}px`;
                        nobutt.style.top = `${y}px`;
                        let wid = nobutt.offsetWidth;
                        let hit = nobutt.offsetHeight;
                        let fstyle = window.getComputedStyle(nobutt, null).getPropertyValue('font-size');
                        fstyle = parseFloat(fstyle)

                        if(wid >=50){
                            nobutt.style.width = `${wid-6}px`;
                            nobutt.style.height = `${hit-2}px`;
                            nobutt.style.fontSize = `${fstyle-1}px`;
                        }
                    }
                </script>
            </div>
        </div>
    </body>
</html>